<div class="home">
  <nav class="nav">
    <div class="nav__profile">
      <img class="nav__picture" src="assets/images/profile-picture.jpg" alt="an old picture of me" />
    </div>
    <div class="about">
      <h1 class="about__name">
        About ME
      </h1>
      <h4 class="about__title">Senior Front-End Developer</h4>
      <p class="about__description">
<b>5+ years</b> experience specializing in <b>Front-End</b> development. Super nerd who loves
to save time by automating a lot of redundant tasks either on the web or on a desktop environment, loves working on popular web frameworks
such as <b>Angular 2+</b>. Interested in devising a better problem-solving method for challenging tasks, and learning new technologies and
tools.
      </p>
    </div>
    <div class="socials">
      <h1 class="socials__name">
        Social Links
      </h1>
      <p class="socials__description">
<b>5+ years</b> experience specializing in <b>Front-End</b> development. Super nerd who loves
to save time by automating a lot of redundant tasks either on the web or on a desktop environment, loves working on popular web frameworks
such as <b>Angular 2+</b>. Interested in devising a better problem-solving method for challenging tasks, and learning new technologies and
tools.
      </p>
    </div>
  </nav>
  <main class="main">
    main
  </main>
</div>
