@import '../../../sass/variables.scss';

.nav {
  color: rgba($color-light, 0.8);
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__profile {
    display: flex;
    margin: 5rem 2rem 0 2rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__picture {
    width: 25rem;
    height: 25rem;
  }
}

.about, .socials {
  margin: 3rem 6rem;
  border-bottom: 1px solid rgba($color-light, 0.5);
  padding-bottom: 3rem;

  &__name {
    text-transform: uppercase;
  }

  &__title {
    color: rgba($color-light, 0.7);
  }

  &__description {
    color: rgba($color-light, 0.5);
  }
}

.socials {
  margin: 0 6rem;
  border-bottom: none;
}