<div class="container">
  <header class="header">
    <div class="header__content">
      <div class="header__profile">
        <img src="assets/images/profile-picture.jpg" alt="Hristo Bogoev" />
      </div>
      <div class="header__text">
        <h1 class="header__title">Hristo Bogoev</h1>
        <p class="header__subtitle">Senior Front-End Developer</p>
        <ul class="header__contacts">
          <li class="header__contact">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"
              />
            </svg>
            <span>Sofia, Bulgaria</span>
          </li>
          <li class="header__contact">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
              />
            </svg>
            <span>hristoapps@gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section *ngFor="let section of sections" class="section">
    <h2 class="section__title">{{ section.title }}</h2>
    <div class="section__content">
      <div *ngFor="let row of section.entries" class="section__row">
        <div class="section__col">
          <h3 class="section__info-title">
            <a
              *ngIf="row.leftLink"
              [href]="row.leftLink"
              target="_blank"
              class="section__info-title-link"
            >
              {{ row.leftTitle }}
            </a>
            <ng-container *ngIf="!row.leftLink">
              {{ row.leftTitle }}
            </ng-container>
          </h3>
          <p class="section__info">{{ row.leftContent }}</p>
        </div>
        <div class="section__col">
          <h3 class="section__info-title">{{ row.rightTitle }}</h3>
          <div *ngIf="row.rightContent" class="section__info">
            {{ row.rightContent }}
          </div>
          <div *ngIf="row.rightContentList" class="section__info-list">
            <div
              *ngFor="let item of row.rightContentList"
              class="section__info-list__item"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"
                />
              </svg>
              <div>{{ item }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
